.principal-color{

	background-color: #b71c1c;

}

.principal-text{

	color: #b71c1c !important;

}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating), .card .card-content .card-title{

	font-weight: bold;

}

#perfil{

    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
   	padding: 25px;
   	margin-top: -75px;

}

#perfilSubtitle{

	color: #b71c1c;
	background-color: white;
	border-radius: 25px;
	padding: 10px;

}

header{

	margin-bottom: 10px;

}

@font-face {
     font-family: Grand Hotel;
     src: url('../fonts/GrandHotel-Regular.ttf');
}

@font-face {
     font-family: Rancho;
     src: url('../fonts/Rancho-Regular.ttf');
}

nav .brand-logo, #perfilSubtitle, nav ul a{

	font-family: Rancho;

}

.card-panel{

	text-align: justify;

}

*{

	/*font-family: Comic Sans MS;*/

}

@media only screen and (min-width: 701px) {

	nav .brand-logo {
	    font-size: 3rem;
	}

	#perfilSubtitle {
	    font-size: 2rem;
	}

	nav ul a{
	    font-size: 2rem;
	}

}

@media only screen and (max-width: 700px) {

	nav .brand-logo {
	    font-size: 1.7rem;
	    padding: 0;
	}

	#perfilSubtitle {
	    font-size: 1.5rem;
	}

}
