.red-color{

	background-color: #b71c1c !important;

}

.red-text{

	color: #b71c1c;

}

.yellow-color{

	background-color: #ffeb3b !important;

}

.yellow-text{

	color: #ffeb3b;

}

.green-color{

	background-color: #1b5e20 !important;

}

.green-text{

	color: #1b5e20;

}

.blue-color{

	background-color: #01579b !important;

}

.blue-text{

	color: #01579b;

}

.white-text{

	color: white !important;

}

.fa-25x{

	font-size: 2.5em;

}

html{

	background-image: url(images/overlay.png), url(../../images/foto.jpg);

}

a{
	color: #61686b;
}